/***********************************************************************************************************************
* 定义对固定尺寸进行缩放的函数集合，为不同的屏幕定义不同的缩放系数，对元素尺寸进行整体缩放以适应不同的屏幕尺寸。
* 为细化缩放方式，而建立了3个缩放函数：
* 1. 全局缩放函数：对应全局缩放系数进行缩放；
* 2. 水平缩放函数：宜于对水平方向的属性进行缩放，如left、right、width等；
* 3. 垂直缩放函数：宜于对垂直方向的属性进行缩放，如top、buttom、height等；
* 之所以分成三个函数，是为适应不同的屏幕比例之意。
*
* 一般情况下，以下属性不宜进行缩放：
* 1. 边框宽度，若边框为1或2像素，则无需进行缩放，若边框比较厚，则视情而定;
* 2. 属性为百分比或者以vh、vw为单位，因为百分比属性是自适尺寸的，因此无需进行缩放，注意：百分比是相对于父元素而言，vw、vh是相对于屏幕而言；
*
* 缩放系数可定义在任何地方，编译时导入即可。
//**********************************************************************************************************************

/**
 *全局缩放函数
  @value 被缩放值
  @scale 缩放系数
 */
_(value) {
    value * scale;
}

/**
  水平缩放函数
  @value  被缩放值
  @scaleH 缩放系数（水平）
 */
h(value) {
    value * scaleH;
}

/**
  垂直缩放函数
  @value  被缩放值
  @scaleH 缩放系数（垂直）
 */
v(value) {
    value * scaleV;
}

/**
  文字缩放函数
  @value  被缩放值
  @scaleH 缩放系数（文字）
 */
f(value) {
    value * scaleF;
}